<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>What Do You Wanna Shred?</h1>
        <form action="/workouts/edit/<%=workout.id%>?_method=PUT" method="POST">
            Shred Target: <input type="text" name="shredTarget" value="<%=workout.shredTarget%>"/><br/>
            Shred it Workout: <input type="text" name="shredItWorkout" value="<%=workout.shredItWorkout%>" /><br/>
            Img: <input type="url" name="img" value="<%=workout.img%>"/><br/>
            Video: <input type="url" name="video" value="<%=workout.video%>"/><br/>
            <!--  Ready To Shred: <input type="checkbox" name="readyToShred" /><br/>  -->
            <input type="submit" name="" value="Edit"/>
        </form>
    </body>
</html>