<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: rgb(137, 137, 214);
          text-transform: capitalize;
        }
        .show-cont {
            display: grid;
            grid-template-columns: 1ft 4ft 1ft;
            grid-template-rows: 1ft 3ft 1ft;
        }
        .item-header {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
        }
        .img-link {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
        }
        .price {
            grid-column: 2 / span 1;
            grid-row: 3 / span 1;
        }
      </style>
</head>
<body>
    <a href='/'>Home</a>
    <div class="show-cont">
        <h4 class="item-header"><%=workout["shredTarget"]%></h4>
        <h4 class="item-header"><%=workout["shredWorkout"]%></h4>
        <video width="640" height="480" src=<%=workout["video"]%> controls> Sorry, your browser doesn't support HTML5 <code>video</code>. </video>
        <form action="/workouts/<%= workout.id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
        </form>
        <a href="/workouts/<%=workout.id; %>/edit">Edit</a>
    </div>
</body>
</html>